@import "tailwindcss";

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

[data-part="arrow"] {
  --arrow-size: 8px;
}

[data-scope="tooltip"][data-part="arrow"] {
  --arrow-background: #191918;
}

[data-theme="dark"] {
  [data-scope="tooltip"][data-part="arrow"] {
    --arrow-background: #fff;
  }
}

[data-scope="popover"][data-part="arrow"],
[data-scope="menu"][data-part="arrow"] {
  --arrow-background: #fff;
}

[data-theme="dark"] {
  [data-scope="popover"][data-part="arrow"],
  [data-scope="menu"][data-part="arrow"] {
    --arrow-background: #191918;
  }
}

[data-scope="progress"][data-part="circle"] {
  --size: 40px;
  --thickness: 4px;
}

@theme {
  --color-fg-default: light-dark(#21201c, #eeeeec);
  --color-fg-muted: light-dark(#63635e, #b5b3ad);
  --color-border-subtle: light-dark(#e9e8e6, #2a2a28);
  --color-blue-subtle: light-dark(#dbeafe, #14204a);
  --color-blue-fg: light-dark(#173da6, #a3cfff);
  --color-orange-subtle: light-dark(#ffedd5, #3b1106);
  --color-orange-fg: light-dark(#92310a, #fdba74);
  --color-green-subtle: light-dark(#dcfce7, #042713);
  --color-green-fg: light-dark(#116932, #86efac);
  --color-red-subtle: light-dark(#fee2e2, #300c0c);
  --color-red-fg: light-dark(#991919, #fca5a5);
}

.shiki {
  @apply overflow-x-auto rounded-lg p-4 text-sm/6;
}
